/* footer */

.footer {
    width: 100vw;
    height: 150px;
    background-color:#f28582;    
    bottom: 0; 
    display: flex;
    flex-direction: column;
    color: var(--white);
    justify-content: center;
    align-items: center;
    gap: 20px;
    position:fixed;
}

.redes-sociales {
    display: flex;
    gap: 50px;
}

.redes-sociales i {
    color: var(--white);
    font-size: larger;
} 