.contenedor-nav{
    width: 300px;
    background: var(--gradient-primary);
    color: white;
}

.nav-link.active {
    background-color: white;
    color: var(--primary-color) !important;
    border-radius: 20px;
}

.cierre {
    cursor: pointer;
}