@import url('https://fonts.cdnfonts.com/css/quicksand');

:root {
  --fuente-texto: 'Quicksand', sans-serif;
  --color-menu: #f28582;
  --color-texto-menu: #ffffff;
  --color-fondo-principal: #f5cac2;
  --color-titulos: #f28582;
  --color-textos: #000000;
  --tamaño-titulos: 30px;
}

body {
  background-color: var(--color-fondo-principal);
  font-family: var(--fuente-texto);
  overflow-x: hidden;
  color:var(--color-textos);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
